@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: rgb(255,255,255);
   background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,179,250,1) 100%);
  
    font-family: "Poppins", sans-serif;
    width:100vw ;
    min-height: 100vw;
    min-width: 100vw;
    text-align: center;
  overflow-x: hidden;
}

h1{
   color: rgb(252, 252, 252);

    font-size: 3rem;
    margin-top:3rem;
    
}



form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

input{
    font-weight: bold;
}
 
.poke-search input {
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   
}

.btn-search{
   border-radius: 0px 15px 15px 0px;
}


input,
button{
    padding: 12px 30px;
   border: none;
    background-color: white;
  
 }
 input:focus{
    outline: none;
 }

 button{
    cursor: pointer;
    
 }

 .poke-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    
 }

 .poke-box{
     position: relative;
      width: 100%; 
      max-width: 250px; 
      background-color: white;
      border-radius: 15px;
      margin: 0.7rem auto; 
      padding: 10px; 

 }

 .poke-box i{
   position: absolute; 
    top: 10px; 
    right: 10px;
   
   
 }



 .poke-box img {
   width: 100%; 
   height: auto; 
   padding: 10px;
   margin: 10px 0;
 }

 .poke-box h4{
    font-size: 1.2rem;
    margin: 5px auto;
 }

 .poke-box p{
    margin: 5px auto;
 }


/* ******modal******** */


/* Button styles */
#favorite{
   position: fixed;
   bottom: 1rem;
   right: 1rem;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px; 
   height: 40px; 
   border-radius: 100%;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   font-size: 16px; 
   padding: 0; 
   border: none; 
   font-size: 1rem; 
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
   z-index: 1000;
 }
 
 #favorite:hover {
   background-color: #dfdede;
 }
 
.favorite-lenght{
   position: absolute;
   right: -6px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: brown;
    color: aliceblue;
    font-size: 14px
}

 

 
 /* Modal styles */
 .modal {
   position: fixed;
   z-index: 10;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .modal-backdrop {
   position: fixed;
   inset: 0;
   background-color: rgba(75, 85, 99, 0.75);
 }
 
 .modal-content {
   position: relative;
   background-color: white;
   border-radius: 0.5rem;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
   max-width: 80%; 
   width: auto;
   margin: 1rem;
   overflow: hidden; 
 }
 
 .modal-body {
   padding: 1.5rem;
   display: grid; 
   grid-template-columns: repeat(3, 1fr); 
   gap: 10px; 
   
   max-height: 70vh; 
   overflow-y: auto; 
 }
 
 /* Modal action buttons */
 .modal-actions {
   display: flex;
   justify-content: flex-end;
   padding: 1rem;
   background-color: #f9fafb;
 }
 
 .modal-actions button {
   border-radius: 0.375rem;
   padding: 0.5rem 0.75rem;
   font-size: 0.875rem;
   font-weight: 600;
 }
 

 #cancel {
   background-color: white;
   color: #111827;
   border: 1px solid #d1d5db;
 }
 
 #cancel:hover {
   background-color: #f3f4f6;
 }
 
 /* Hidden class */
 .hidden {
   display: none;
 }

#deleteAll:disabled{
  background-color:rgb(255, 161, 161) ;
  color: rgb(255, 255, 255);
}
#deleteAll:hover{
  background-color: rgb(246, 137, 137);
}
 
#deleteAll{
  background-color: rgb(236, 74, 74);
   color: #ffffff;
   border: 1px solid #d1d5db;
   margin-right: 6px;
  
}
